*{margin:0;padding:0;box-sizing:border-box;}
.header{width:100%;color:white;background:rgb(13,90,99);font-size:40px;}
.footer{width:100%;color:white;background:rgb(13,90,99);font-size:80px;position:fixed;left:0;bottom:0;}
.content{width:80%;margin:0 auto;}
body{overflow:hidden;}


.notes {
	display:none;
}


#demo {
	width:400px;
	color:pink;
	margin:10px;
	font-size:25px;
	background:rgb(23,92,10);
}







































    
   .truck01{
	      width:200px;
	      position: absolute;left:0;right:0;
	      background: transparent;
	      animation: truck01 15s linear infinite;
    }

    @keyframes truck01 {	
	   0%{left:1480px;bottom: 300px;width:80px;}
	   50%{left:1000px;bottom: 200px;width:100px;}
	   75%{left:600px;bottom: 120px;width:200px;}
	   100%{left:-200px;bottom:100px;width:300px;}
    }
